/******************************************
GENERAL
******************************************/

body {
	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;
	outline: none;
}

img {
	max-width: 100%;
}

h1 {
	margin: 0;
}

p {
	line-height: 160%;
	margin-bottom: 10px;
}

li {
	list-style: none;
}

code {
	background-color: #BCE2EF;
	margin: auto .1em;
}


/******************************************
HEADER
******************************************/

header {
	text-align: center;
	margin: 0 0 1.5em;
}

h1 {
	display: block;
	width: 100%;
	font-size: 17vw;
	display: inline-block;
}

h2 {
	font-size: 2.5em;
	font-family: 'Galada', sans-serif;
}

h3 {
	font-size: 2em;
	font-weight: lighter;
}

h4 {
	font-size: 14pt;
}

hr {
	border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

header h1 {
	font-family: 'Satisfy', cursive;
	font-weight: 400;
	/*-webkit-text-stroke-width: 2px;*/
	/*-webkit-text-stroke-color: #262335;*/
	text-shadow:
		1px -1px 0 #262335,
		1px 1px 0 #262335;
		/*-1px 1px 0 #262335,
		-1px -1px 0 #262335;*/
}

nav ul {
	display: inline-block;
	list-style: none;
	padding: 0;
}

nav li {
	font-size: 5vw;
	font-weight: bold;
	float: left;
	margin-bottom: 0.5em;
}

nav li a {
	padding: 0.4em 1em 1em;
}


/******************************************
BODY
******************************************/

.social-media-bar {
	text-align: center;
}

.social-media-bar ul {
	padding: 0;
	display: inline-block;
}

.social-media-bar li {
	float: left;
}

.social-media-bar li a {
	padding: .6em .7em .3em;
	border-radius: 7%;
	margin: 0 .4em;
}

.social-media-bar img {
	height: auto;
	width: auto;
	max-height: 1.2em;
	max-width: 1.2em;
}

#glamour-div {
	padding: 10% 10%;
	box-sizing: border-box;
}

.glamour-shot {
	display: block;
	margin: 0 auto;
	border: 5px solid;
	border-radius: 100%;
}

.bio {
	padding: 0 1.5em 1em;
	font-size: 5vw;
}

.bio h2 {
	font-size: 5.9vw;
	padding-bottom: 1vh;
}



/******************************************
SHOWCASE
******************************************/

.title {
	text-align: center;
}



/******************************************
SHOWCASE
******************************************/

.showcase ul {
	text-align: center;
	padding: 0;
}

.showcase li {
	margin: 2em 0;
	max-width: 400px;
	display: inline-block;
}

.showcase img {
	max-width: 70%;
	border: solid 5px;
}

.showcase p {
	padding: 0 20px;
	font-size: 1.5em;
	max-width: 500px;
}



/******************************************
BLOG
******************************************/

.blog {
	margin: auto;
	margin-bottom: 20px;
	padding: 0 10%;
	max-width: 800px;
}

.blog hr {
	margin-top: 18pt;
}

.blog h2 {
	text-align: center;
	line-height: 1.1em;
}

.word-wrapper {
	text-align: center;
}
.word {
	text-align: center;
	color: #8078AA;
	border: 2px #262335 solid;
	border-radius: 5px;
	display: inline-block;
	padding: .5em;
	font-size: 100%;
}

.word2 {
	text-align: center;
	display: inline-block;
	padding: .1em;
	font-family: 'Satisfy', cursive;
	margin: .5em;
}



.blog .word-wrapper .word2 {
	font-size: 1.6em;
}

.blog img {
	max-width: 75%;
	border: 3px #262335 solid;
	border-radius: 10px;
	display: block;
	margin: 3em auto;
}

.blog li{
	list-style: initial;
}

.iphone-size {
	max-height: 412px;
}

.no-border img {
	border: 0;
}

.quote {
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	color: #8078AA;
	line-height: 120%;
}

.rowimages-wrapper {
	text-align: center;
}

.rowimages-wrapper img,
.rowimages-wrapper span {
	display: inline-block;
	vertical-align: middle;
	border: none;
	margin: 1em .5em;
	padding-top: 1em;
	max-width: 15%;
}

.rowimages-wrapper span {
	font-size: 1.5em;
	margin: 0;
}

/******************************************
VUI Page
******************************************/

.voice {
	font-family: monospace;
	line-height: 100%;
}

.vicky {
	color: #D14F5E;
}

.match {
	color: #009688;
	padding-top: 0.75em;
}

.no-match {
	color: #8078AA;
	padding-top: 0.75em;
}

/******************************************
FOOTER
******************************************/

/* for "sticky footer" per Modern Clean CSS Sticky Footer guide */
html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 135px; /* bottom = total footer height */
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 115px;
	width: 100%;
	border-top: solid 10px;
	border-bottom: solid 10px;
	padding-top: 10px;
}

footer p {
	padding: 0 .5em;
	text-align: center;
}

.footer-social-media-bar {
	text-align: center;
}

.footer-social-media-bar img {
	height: auto;
	width: auto;
	max-height: 30px;
	max-width: 30px;
}

.footer-social-media-bar ul {
	padding: 0;
	display: inline-block;
}

.footer-social-media-bar li {
	float: left;
}

.footer-social-media-bar li a {
	font-size: 1.2em;
	padding: 0 .5em;
}



/******************************************
COLORS
******************************************/

/****** PALETTE ******

DARK PURPLE	#262335
PURPLE		#8078AA
SALMON		#FF6072
SKY BLUE	#BCE2EF
WHITE-BLUE	#F5FCFF

******* ------- ******/

/* site body */
body {
	background-color: #FBFEFF;
	color: #262335;
}

/* header nav link color */
nav li {
	color: #FF6072;
}

/* "Billy Leet" title color"*/
h1 {
	background-color: #262335;
	color: #FFF;
}

/* links (including social media) */
a, a:visited {
	color: #FF6072;
}

/* link hover color */
a:hover {
	color: #BCE2EF;
}

.glamour-shot {
	border-color: #262335;
}

/*.social-media-bar {
	color: #FF6072;
}*/

.social-media-bar li a {
	background-color: #262335;
}

footer {
	border-color: #FF6072;
	background-color: #262335;
	color: #FFF;
}

/* Work Page */
.showcase a {
	color: #262335;
}


/******************************************
CLEARFIX
******************************************/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}
