@media screen and (min-width: 480px) {

  .glamour-shot {
  	max-width: 383px;
  }

  h1 {
  	font-size: 5.2em;
  }

  nav li {
  	font-size: 1.5em;
  }

  .social-media-bar li a {
  	font-size: 1.5em;
  }

  .bio h2 {
  	font-size: 1.2em;
  }

  .bio p {
  	font-size: 1em;
  }


@media screen and (min-width: 750px) {

  /* Header and Social Links */

  header .wrapper {
  	position: relative;
  }

  .glamour-shot {
  	max-width: 383px;
  }

  header {
  	padding: 20px 0 0;
  	background-color: #262335;
    border-bottom: solid 10px #FF6072;
  }

  h1 {
  	background-color: inherit;
  	padding-left: 1em;
  	text-align: left;
  	position: absolute;
  	max-width: 400px;
  	top: 0;
  	left: 0;
  	display: inline-block;
  }

  nav {
  	padding: 20px 10px 0 0;
  	float: right;
  }

  nav li a, nav li a:visited {
  	color: #aaaaaa;
  }

  #current-page {
    color: #fff;
  }

  nav li a:hover {
  	color: #FF6072;
  }

  .social-media-bar {
  	margin: 50px 0 0;
  }

  /* Body */

  #glamour-div {
  	width: 55%;
  	display: inline;
  	float: left;
  	padding: 50px 0 50px;
  	box-sizing: border-box;
  }

  .glamour-shot {
  	max-width: 80%, 383px;
  	positon: static;
  }

  .bio {
  	padding: 0 35px 30px 0;
  	width: 45%;
  	display: inline-block;
  	float: right;
  	box-sizing: border-box;
  }

  .bio h2 {
  	font-size: 20pt;
  }

  .blog p,
  .bio p {
  	font-size: 14pt;
  }

  .blog .word-wrapper .word2 {
    font-size: 2em;
  }

  .blog .quote {
      font-size: 1.3em;
  }

  /* Work Page */

  .blog {
  	padding: 0 23% 3em;
  }

  img.side-image-right {
      margin-top: 0;
      margin-bottom: 1em;
      margin-left: 1em;
      float: right;
      max-width: 40%;
  }

  img.side-image-left {
      margin-top: 0;
      margin-bottom: .5em;
      margin-right: 1.5em;
      float: left;
      max-width: 35%;
  }

  .rowimages-wrapper img {
      margin: auto 1em;
  }

  .rowimages-wrapper span {
      font-size: 2.5vw;
  }

  .blog hr, h4 {
      clear: both;
  }

  h4 {
      padding-top: 1.1em;
  }

}

@media screen and (min-width: 1000px) {

 	.bio h2 {
 		margin-top: 15%;
 	}

    .rowimages-wrapper img {
        margin: auto 2em;
    }

}

@media screen and (min-width: 1350px) {

 	.wrapper {
 		margin: 0 auto;
 		max-width: 1350px;
 	}

    .blog {
        max-width: 800px;
    }

}

@media screen and (min-height: 1000px) {

 	.social-media-bar {
        padding-bottom: 8vh;
    }

    .showcase ul {
        padding-top: 10vh;
    }

}
